.tabs-table-container {
    .MuiDataGrid-root {
        border: none;

        .MuiDataGrid-columnHeaderTitle, .MuiDataGrid-cellContent {
            font-size: 16px;
        }

        .MuiDataGrid-columnHeaderTitle {
            font-weight: bold;
        }

        .MuiDataGrid-cell:focus {
            outline: none;
        }

        .MuiDataGrid-cell[data-field="url"] {
            cursor: auto;
        }

        .MuiDataGrid-row:hover {
            cursor: pointer;
        }
    }
}

.add-transactions-modal {
    .MuiFormLabel-root {
        font-size: 16px;
    }
}
