input {
  border: none;
  width: fit-content;
}

.p-2 {
  padding: 40px;
  border: 1px solid;
  border-radius: 8px;
}

tr {
  border-bottom: 1px solid black;
  padding: 2px;
}

table {
  border-collapse: collapse;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}
